.card {
  background: var(--color-white);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
  box-sizing: border-box;
  aspect-ratio: 3.5 / 2;
  align-content: center;
  row-gap: 1em;
  position: relative;
  transform: translateY(calc(100vh + 100%));

  @media (prefers-reduced-motion: reduce) {
    transform: none;
  }

  box-shadow:
    0 0.5px 0.7px rgba(0, 0, 0, 0.07),
    0 1.6px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.042),
    0 8px 10.7px rgba(0, 0, 0, 0.035),
    0 15px 20px rgba(0, 0, 0, 0.028),
    0 30px 48px rgba(0, 0, 0, 0.02);
  isolation: isolate;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/images/png/texture.png") repeat;
    background-size: 50px 50px;
    opacity: 0.3;
    mix-blend-mode: plus-lighter;
    pointer-events: none;
  }

  font-size: clamp(14px, 2.043cqw, 1.6rem);

  .lockup {
    grid-column: 2 / -2;
    grid-row: 1;
    width: 100%;
    height: auto;
  }

  .card__links {
    grid-column: 2 / -2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    font-variant-numeric: tabular-nums;

    a {
      white-space: nowrap;
    }
  }
  .card__row {
    display: contents;
  }

  .card__time {
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    font-weight: 570;
  }
}

@container (max-width: 700px) {
  .card {
    align-content: space-between;
    padding: 1em;
    grid-template-columns: 1fr;
  }

  .card .lockup,
  .card .card__links {
    grid-column: 1 / -1;
  }

  .card a,
  .card__time {
    margin: 0;
  }

  .card .card__links {
    flex-direction: column;
    align-items: stretch;
    justify-content: normal;
  }

  .card .card__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
