:root {
  interpolate-size: allow-keywords;
  --100dvh: calc(100dvh - env(safe-area-inset-bottom));
  --m: m, Helvetica, system-ui, sans-serif;
  --color-black: #1f1f1f;
  --color-white: #ededed;
}

html,
body {
  font-family: var(--m);
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  scrollbar-width: none;
  font-weight: 570;
  letter-spacing: -0.01em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "case" on;
  font-size: 62.5%;
  background-color: #1f1f1f;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.44;
  font-weight: 375;
  letter-spacing: -0.01em;
  color: var(--color-black);

  &::selection {
    background-color: var(--color-green);
    color: var(--color-white);
  }
}
