h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  line-height: 1.44;
  font-weight: 570;
  letter-spacing: -0.01em;
  margin: 0;
}

a {
  color: var(--color-black);
  letter-spacing: -0.01em;
  font-weight: 570;
  cursor: pointer;
  font-variation-settings: "slnt" 0;
  text-decoration: none;

  &:hover,
  &.active {
    color: var(--color-white);
    background-color: var(--link-color);
  }
}

button,
.button,
.tag {
  font-family: var(--m);
  font-weight: 375;
  letter-spacing: 0.04em;
  line-height: 1.11;
  text-decoration: none;
  color: var(--color-black);
  border-radius: 1px;
  padding: calc(1em / 3 * 2) calc(1em / 3 * 5);
  background-color: var(--color-tag--bg);
  backdrop-filter: blur(4px);
  transition: font-weight 0.2s ease;
  text-align: center;

  &:hover,
  &.active {
    transition: all 0.2s ease;
    font-weight: 425;
  }

  &:hover {
    backdrop-filter: blur(10px);
  }

  &::after {
    content: attr(data-text);
    display: block;
    font-weight: 450;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 1.6rem;
    line-height: 1.44;
    font-weight: 375;
    letter-spacing: -0.01em;
  }
}
